@import 'src/colors';

.organization-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &._loading {
    justify-content: center;
  }

  &__title {
    color: $salmon;
    font-size: 2rem;
    text-align: center;
  }

  &__info {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
